# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
data/anon_tSpace_sorted.txt
data/calendar.readme.docx
data/hashed.readme.docx
data/id_pairs_hashed_sorted.txt
data/id_singles_hashed_sorted.txt
data/tSpace.readme.docx
data/c_pairs_anon_scored.feb
data/c_uniq_pairs_anon_scored.mar
data/t_pairs.mar.txt
data/t_pairs_anon_verbs.feb.txt
data/_obs/anon_tSpace_sorted.txt
data/_obs/calendar.readme.docx
data/_obs/hashed.readme.docx
data/_obs/id_pairs_hashed_sorted.txt
data/_obs/tSpace.readme.docx
